#headerText {padding: 10px}

a {text-decoration: underline}
a:hover {background-color: white}

td.success_true {background-color: #00ff00}
td.success_false {background-color: #ff0000}
td.success_nil {background-color: #ffff00}

h1 {
    background-color: white;
    padding: 15px 20px;
    border-bottom:2px solid #EFEFEF;
}

.tabs {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #71C900;
}

div.padded {
    font-weight: bold;
    font-size: 1.5em;
    padding: 15px 20px;
}

.result_fail {
    background-color: red;
}

.result_fail .failed {
    font-weight: bold;
}

.test_fail, .test_fail a {
    color: red;
}

.test_success, .test_success a {
    color: green;
}

.test_run {
    color: blue;
    white-space: nowrap;
}

tr.test_fail, tr.test_fail a {
    color: black;
    background-color: red;
    white-space: nowrap;
}

tr.test_result {
    white-space: nowrap;
}

tr.test_success, tr.test_success a {
    color: white;
    background-color: green;
    white-space: nowrap;
}

td.spacer {
    background-color: white;
}

table.builds td {
    padding: 2px 10px;
}


table.revisions td {
    padding: 2px 10px;
}

.revisions .day td {
    background-color: black;
    line-height: 1.8em;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.revision td {
    border-top: solid 1px black;
    font-size: 1.1em;
    line-height: 1.1em;
}

.revision {
    border-top: solid 1px black;
    background-color: #eeeeee;
}

tr {
    vertical-align: top;
}

.basetable th {
    text-align: left;
}
    