<h2>Recent Revisions</h2>

<table>
<tr>
<th>Repo</th>
<th>Revision</th>
<th colspan="3">Test Runs (Passed/Skipped/Failed)</th>
</tr>
<% @revs.each do |rev| %>
<tr>
  <td><%=h rev.repo.name %></td>
  <td><%= link_to h(rev.identifier), rev %></td>

  <% rev.test_runs.each do |test| %>
  <td class="success_<%=h test.success %>">
    <%= link_to h("#{test.passed} / #{test.skipped} / #{test.failed}"), test %>
  </td>
  <% end %>
</tr>

<% end %>
</table>
